<div class="landing nav-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
	<%= link_to('Groundwork', root_path, class: 'nav-home-link landing-nav-link w-nav-link') %>
	<div class="nav-container w-container">
		<nav class="nav-menu w-nav-menu" role="navigation">
			<% if user_signed_in? %>
			  <%= link_to('Sign out', destroy_user_session_path, :method => :delete, class: 'landing-nav-link w-nav-link') %>
			<% else %>
				<a class="landing-nav-link w-nav-link" data-ix="signup-button" href="#">Sign up</a>
				<a class="landing-nav-link w-nav-link" data-ix="login-button" href="#">Sign in</a>
			<% end %>
			<a class="landing-nav-link w-nav-link" href="/projects/index">Browse</a>
			<a class="landing-nav-link w-nav-link">
				<%= form_tag(projects_index_path, :method => "get", class: "search-form") do %>
				    <%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
				    <%= submit_tag "Search", :name => nil, class: "search-button" %>
				<% end %>
			</a>
			<a class="nav-start-button w-button" href="/projects/new">Start a Project</a>
		</nav>
		<div class="w-nav-button">
			<div class="w-icon-nav-menu"></div>
		</div>
	</div>
</div>
