<div class="signup-modal" data-ix="signup-modal">
	<div class="signup-wrapper"><a class="signup-close"><strong class="signup-close-button" data-ix="signin-modal">X</strong></a>
		<h3 class="signup-modal-title">Sign up</h3>
		<p>Please enter your email and password to sign up.</p>
		<div class="w-form">
			<%= form_for('user', data: {name: "Email Form"}, html: {id: "email-form", name: "email-form"}, url: user_registration_path ) do |f| %>
				<label class="form-label" for="email">Email</label>
				<%= f.email_field :email, data: {name: 'email'}, class: "w-input", id: "email", maxlength: "256", placeholder: "Email", required: "required", type:"email", autofocus: 'true' %>

				<label class="form-label" for="username">Username</label>
				<%= f.email_field :username, data: {name: 'username'}, class: "w-input", id: "username", maxlength: "256", placeholder: "Username", required: "required", type:"username", autofocus: 'true' %>

				<label class="form-label" for="password">Password</label>
		    <%= f.password_field :password, data: {name: 'password'}, class: "w-input", id: "password", maxlength: "256", placeholder: "Password", required: "required", type:"password" %>

				<label class="form-label" for="password_confirmation">Confirm Password</label>
				<%= f.password_field :password_confirmation, data: {name: 'password_confirmation'}, class: "w-input", id: "password_confirmation", maxlength: "256", placeholder: "Password", required: "required", type:"password" %>

				<label class="form-label" for="username">Country</label>
				<%= f.collection_select :country_id, Country.order(:name), :id, :name, {}, { class: "w-input", required: "required" } %>

				<label class="form-label" for="tos">Terms of Service</label>
				<div style="text-align:left;">
					<%= check_box_tag :tos, {}, { checked: "uncheckeds", required: "required" } %>
					<p style="display:inline-block;">By registering your account, you agree to our Services Agreement and the <a href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement.</a></p>
				</div>

				<%= recaptcha_tags %>

			  <%= f.submit "Sign up", class: 'login-button w-button', data: {wait: 'Please wait...'} %>
			<% end %>
			<div class="w-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="w-form-fail">
				<div>Oops! Something went wrong while submitting the form</div>
			</div>
		</div>
	</div>
</div>
