<div class="wd-withdraw-section">
	<div class="w-container wd-withdraw-container">
		<h3 class="wd-withdraw-title">Withdraw</h3>
		<label class="wd-withdraw-label">Current Balance</label>
		<p>
			$<%= '%.2f' % (@account_balance.available[0].amount / 100.0) %>
			<%= @account_balance.available[0].currency %>
		</p>
		<div class="w-form">
			<form action="/stripe_infos/create_payout" method="POST">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

				<label class="wd-withdraw-label" for="account">Account</label>
				<select class="w-select wd-withdraw-dropdown" data-name="account" id="account" name="account">
					<% @bank_accounts.each do |b| %>
						<option value="<%= b.id %>"><%= '***' + b.last4 + ' ' + b.bank_name %></option>
					<% end %>
				</select>
				<label class="wd-withdraw-label" for="amount">Amount</label>
				<input class="w-input wd-withdraw-textbox" data-name="amount" id="amount" maxlength="256" name="amount" placeholder="$0.00" required="required" type="text">
				<input class="w-button wd-withdraw-button" data-wait="Please wait..." type="submit" value="Withdraw">
			</form>
			<div class="w-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="w-form-fail">
				<div>Oops! Something went wrong while submitting the form</div>
			</div>
		</div>
	</div>
</div>
