<body class="body-class">
	<%= render '/shared/signup_modal' %>
	<%= render '/shared/login_modal' %>
	<%= render '/shared/nav' %>
	<%= render '/settings/add_bank_modal' %>

	<% if current_user && current_user == @user %>

		<% if @account.verification.disabled_reason == 'fields_needed' %>
			<%= render '/settings/withdraw_section' %>
		<% else %>
			<%= render '/settings/fields_needed' %>
		<% end %>

		<%= render '/settings/accounts_section' %>

		<%= render '/settings/history_section' %>

	<% else %>
	You are not allowed to access this page
	<% end %>

</body>
<footer>
	<%= render '/shared/footer' %>
</footer>
