<body class="body-class">
	<%= render '/shared/signup_modal' %>
	<%= render '/shared/login_modal' %>
	<%= render '/shared/nav' %>
	<%= render '/settings/add_bank_modal' %>
	<% if current_user && current_user == @user %>
		<% @stripe_id = current_user.accounts.first.stripe_infos.first.stripe_id %>
		<% @bank_accounts = Stripe::Account.retrieve(@stripe_id).external_accounts.data %>
		<div class="wd-withdraw-section">
			<div class="w-container wd-withdraw-container">
				<h3 class="wd-withdraw-title">Withdraw</h3>
				<div class="w-form">
					<%= @account_balance %>
					<form action="/stripe_infos/create_payout" method="POST">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

						<label class="wd-withdraw-label" for="account">Account:</label>
						<select class="w-select wd-withdraw-dropdown" data-name="account" id="account" name="account">
							<% @bank_accounts.each do |b| %>
								<option value="<%= b.id %>"><%= '***' + b.last4 + ' ' + b.bank_name %></option>
							<% end %>
						</select>
						<label class="wd-withdraw-label" for="amount">Amount:</label>
						<input class="w-input wd-withdraw-textbox" data-name="amount" id="amount" maxlength="256" name="amount" placeholder="$0.00" required="required" type="text">
						<input class="w-button wd-withdraw-button" data-wait="Please wait..." type="submit" value="Withdraw">
					</form>
					<div class="w-form-done">
						<div>Thank you! Your submission has been received!</div>
					</div>
					<div class="w-form-fail">
						<div>Oops! Something went wrong while submitting the form</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wd-accounts-section">
			<div class="w-container wd-accounts-container">
				<h3 class="wd-accounts-title">Accounts</h3>
				<table class="wd-accounts-table">
					<% @bank_accounts.each do |b| %>
					<tr>
						<td class="wd-accounts-table-tr"><%= '***' + b.last4 + ' ' + b.bank_name %></td>
						<td class="wd-accounts-table-tr">
							<% if b.default_for_currency == true %>
								<%= 'Default' %>
							<% else %>
								<%= link_to 'Set Default', stripe_infos_default_bank_account_path(id: b.id), method: :post, class: "link-to" %>
							<% end %>
						</td>
						<td class="wd-accounts-table-tr"><%= link_to 'Remove', stripe_infos_remove_bank_account_path(id: b.id), method: :post, class: "link-to" %></td>
					</tr>
					<% end %>
				</table>
				<a class="w-button wd-accounts-button" data-ix="add-bank-button" href="#">Add Account</a>
			</div>
		</div>
		<div class="wd-history-section">
			<div class="w-container wd-history-container">
				<h3 class="wd-history-title">Withdraw History</h3>
				<table class="wd-history-table">
					<tr>
						<th class="wd-history-table-tr">Withdraw Date</th>
						<th class="wd-history-table-tr">Completion Date</th>
						<th class="wd-history-table-tr">Account</th>
						<th class="wd-history-table-tr">Amount</th>
						<th class="wd-history-table-tr">Status</th>
					</tr>
					<tr>
						<td class="wd-history-table-tr">4/23/2017</td>
						<td class="wd-history-table-tr">---</td>
						<td class="wd-history-table-tr">BoA</td>
						<td class="wd-history-table-tr">$450.00</td>
						<td class="wd-history-table-tr">Pending</td>
					</tr>
					<tr>
						<td class="wd-history-table-tr">3/23/2017</td>
						<td class="wd-history-table-tr">3/28/2017</td>
						<td class="wd-history-table-tr">Chase</td>
						<td class="wd-history-table-tr">$400.00</td>
						<td class="wd-history-table-tr">Completed</td>
					</tr>
				</table>
			</div>
		</div>
	<% else %>
	You are not allowed to access this page
	<% end %>
</body>
<footer>
	<%= render '/shared/footer' %>
</footer>
