<head>
  <meta charset="utf-8">
  <title>Groundwork Landing Page</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
	<%= render '/shared/signup_modal' %>
	<%= render '/shared/login_modal' %>
  <div class="nav-div">
		<%= render '/shared/nav' %>
	</div>
  <div class="banner-div">
    <div class="title-div">
      <h1 class="heading-2">Support your <br>favorite makers</h1>
      <h2></h2>
      <div class="button-div"><a class="browse-button w-button" href="/projects/index">Browse Projects</a><a class="button w-button" href="/projects/new">Start a Project</a>
      </div>
    </div>
  </div>
  <div class="benefits-section">
    <div class="benefits-container w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="fa-icon"></div>
          <h2 class="benefits-h2">Get paid by <br>your audience</h2>
          <p class="benefits-p">You're audience is growing and they want to support you. Make that easier with MyGroundworks. Just setup a project page and your audience can help support you with a per month or per episode pledge.</p>
        </div>
        <div class="w-col w-col-6">
          <div class="fa-icon"></div>
          <h2 class="benefits-h2">Find new<br>fans</h2>
          <p class="benefits-p">MyGroundworks helps promote your work to others that are interested in what you're doing. Once they become a fan, it is easy for them to help support your work.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-color sample-section">
    <div class="sample-container w-container">
      <div class="benefit-row w-row">
				<% Project.all.limit(3).order("updated_at DESC").each do |p| %>
        <a class="sample-col w-clearfix w-col w-col-4" href="<%= projects_slug_path(p.slug) %>">
          <div class="sample-border"></div><img class="sample-image" src="<%= p.box_image.url(:medium) %>">
          <h3 class="sample-h3"><%= p.title %></h3>
          <p class="sample-p"><%= truncate(strip_tags(p.body), :length => 160) %></p>
          <p class="sample-amount"><%= number_to_currency(p.amount_sum, :unit => "$", precision: 0) %>/mo</p>
          <p class="sample-subscribers"><%= p.subscriptions.count %> Subscribers</p>
        </a>
			<% end %>

      </div>
    </div>
  </div>
  <div class="specific-section">
    <div class="specific-container w-container">
      <div class="specific-profile"></div>
      <h4 class="specific-name">Alex Banner, 'The Old West'</h4>
      <blockquote class="block-quote">MyGroundworks has changed my life. I now make enough money to do what I love!</blockquote>
    </div>
  </div>
  <div class="proof-section">
    <div class="proof-container w-container">
      <div class="proof-row w-row">
        <div class="proof-col w-col w-col-3">
          <div class="proof-div">
            <div class="proof-icon"></div>
            <div class="proof-stats">
              <h6 class="proof-title">Creators</h6>
              <h6 class="proof-amount">754</h6>
            </div>
          </div>
        </div>
        <div class="proof-col w-col w-col-3">
          <div class="proof-div">
            <div class="projects-color proof-icon"></div>
            <div class="proof-stats">
              <h6 class="projects-color proof-title">Projects</h6>
              <h6 class="projects-color proof-amount">1,015</h6>
            </div>
          </div>
        </div>
        <div class="proof-col w-col w-col-3">
          <div class="proof-div">
            <div class="proof-icon subscribers-color"></div>
            <div class="proof-stats">
              <h6 class="proof-title subscribers-color">Subscribers</h6>
              <h6 class="proof-amount subscribers-color">17,986</h6>
            </div>
          </div>
        </div>
        <div class="proof-col w-col w-col-3">
          <div class="proof-div">
            <div class="pledges-color proof-icon"></div>
            <div class="proof-stats">
              <h6 class="pledges-color proof-title">Pledges</h6>
              <h6 class="pledges-color proof-amount">$143,234</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cta-section">
    <div class="cta-container w-container"><a class="cta-button w-button" href="#">Launch a Project Page Today!</a>
    </div>
  </div>
	<%= render '/shared/footer' %>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
