<div class="pledge-div">
	<h4 class="pledge-title"><%= r.title %></h4>
	<h6 class="patron-count"><%= r.project.subscriptions.count %> Backers</h6>
	<%= r.body %>
	<div class="button-block">
		<!-- If user is signed in and is subscribed at this rewards_tier level -->
		<% if current_user && Subscription.exists?(user_id: current_user, project_id: @project.id, rewards_tier_id: r.id) %>
			<a style="background-color:#c1c1c1;" class="pledge-button w-button" data-ix="subscribe-button" href="#">Pledge <%= number_to_currency(r.min_amount, :unit => "$", :precision => 0) %></a>
		<% else %>
			<a class="pledge-button w-button" href="#">Pledge <%= number_to_currency(r.min_amount, :unit => "$", :precision => 0) %></a>
		<% end %>
	</div>
</div>
