<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>


<%= @earnings_over_time %>
<%= @subscriptions_over_time %>
<%= @posts_over_time %>
<%= @comments_over_time %>
<%= @number_charges_declined %>
<%= @number_charges_accepted %>
<%= @amount_charges_declined %>
<%= @amount_charges_accepted %>



<div class="ct-chart"></div>

<script>
new Chartist.Line('.ct-chart', <%= @subscriptions_over_time %>, {
  fullWidth: true,
  chartPadding: {
    right: 40
  }
});
</script>
