<head>
  <meta charset="utf-8">
  <title>Edit Project</title>
  <meta content="Edit Project" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
</head>
<body>
	<%= render '/shared/signup_modal' %>
	<%= render '/shared/login_modal' %>
	<%= render '/shared/nav' %>
  <div>
    <div class="create-project-container w-container">
      <h2>Edit your project</h2>
      <div class="w-form">
			<%= form_for(@project, data: {name: "Email Form 2"}, html: {class: 'w-clearfix', id: "email-form-2", name: "email-form-2"}, url: '/projects/update', method: 'post' ) do |f| %>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<%= f.hidden_field :user_id, :value => current_user.id %>
          <label for="title">Title</label>
					<%= f.text_field :title, data: {name: 'title'}, class: "w-input", id: "title", maxlength: "256", placeholder: "Billy's Podcast", required: "required", type:"text", autofocus: 'true' %>

          <label for="format-2">Type of creation</label>
					<%= f.text_field :format, data: {name: 'format'}, class: "w-input", id: "format", maxlength: "256", placeholder: "e.g. Podcasts, Graphic Novels, etc", required: "required", type:"text" %>

          <label for="charge_occurrence">When to charge</label>
					<%= f.select :charge_occurrence, [['Monthly', 'MonthlySubscription'], ['Per Episode', 'ReleaseSubscription']], {include_blank: false}, {'data-name': 'charge_occurrence', class: "w-input", maxlength: "256", required: "required"} %>

          <label for="body">Body</label>
					<%= f.trix_editor :body %>
					<% #f. text_area :body, data: {name: 'body'}, class: "w-input", id: "body", maxlength: "5000", placeholder: "Body text goes here", required: "required" %>
					<div id="dante2-editor"></div>

					<label for="box_image">Image</label>
					<%= f.file_field :box_image, data: {name: 'box-image'}, class: "w-input", id: "box-image", accept: "image/*" %>
<%
          # <div class="rewards-creation-div" id="rewards-creation-div">
          #   <h4>Rewards</h4>
					# 	<script type="text/javascript">
					#   	var rewards_tier_index = 0;
					# 	</script>
					# 	<%= render 'rewards_tier_form', f: f %>
          # </div>
%>
					<div>
						<a class="add-tier-button w-button" id="add-tier-button" href="#">+ Add tier</a>
						<script type="text/javascript">
							$('#add-tier-button').click(function() {
								rewards_tier_index = rewards_tier_index + 1;
								$("#rewards-creation-div").append('<%= escape_javascript("#{render 'rewards_tier_form', f: f, child_index: @indx}").html_safe %>');
							});
						</script>
					</div>

					<div class="rewards-creation-div" id="goals-creation-div">
            <h4>Goals</h4>
						<script type="text/javascript">
							var goals_tier_index = 0;
						</script>
						<%= render 'goal_form', f: f %>
          </div>
					<div>
						<a class="add-tier-button w-button" id="add-goal-button" href="#">+ Add goal</a>
						<script type="text/javascript">
							$('#add-goal-button').click(function() {
								goals_tier_index = goals_tier_index + 1;
								$("#goals-creation-div").append('<%= escape_javascript("#{render 'goal_form', f: f}").html_safe %>');
							});
						</script>
					</div>

          <input class="submit-project-button w-button" data-wait="Please wait..." type="submit" value="Create Project"><a class="cancel-button w-button" href="#">Cancel</a>
				<% end %>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
	<%= render '/shared/footer' %>
</footer>

<script type="text/javascript">
	new Dante({ el: "dante2-editor"});
</script>
