<%= render '/shared/signup_modal' %>
<%= render '/shared/login_modal' %>
<%= render '/shared/nav' %>

<div class="login-wrapper">
	<% flash.each do |name, msg| %>
  	<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>
	<h3 class="login-modal-title">Sign in</h3>
	<p>Please enter your email and password to sign in.</p>
	<div class="w-form">
		<%= form_for('user', data: {name: "Email Form"}, html: {id: "email-form", name: "email-form"}, url: user_session_path ) do |f| %>
			<label class="form-label" for="Email-2">Email</label>
			<%= f.email_field :login, data: {name: 'login'}, class: "w-input", id: "login", maxlength: "256", placeholder: "Login", required: "required", type:"login", autofocus: 'true' %>

			<label class="form-label" for="password-2">Password</label>
			<%= f.password_field :password, data: {name: 'password'}, class: "w-input", id: "password", maxlength: "256", placeholder: "Password", required: "required", type:"password" %>

			<%= f.submit "Sign in", class: 'login-button w-button', data: {wait: 'Please wait...'} %>
		<% end %>
		<div class="w-form-done">
			<div>Thank you! Your submission has been received!</div>
		</div>
		<div class="w-form-fail">
			<div>Oops! Something went wrong while submitting the form</div>
		</div>
	</div>
</div>
