<!DOCTYPE html>
<html>
<head>
  <title>Groundwork</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
</head>
<body>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: 'flash ' + name %>
<% end %>

<%= render google_analytics %>

<%= yield %>

</body>


</html>
